/Users/nikolasstires/dev/LabLight/Assets/StreamingAssets/Whisper/ggml-medium.bin filter=lfs diff=lfs merge=lfs -text
/Assets/StreamingAssets/Whisper/ggml-medium.bin filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
